body {
    background-color: #0a0a0a;
}

#root {
    height: 100%;
    width: 100%;
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0a0a0a;
    color: white;
    flex-direction: column;
    align-items: center;
}

.video-grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.remote-video {
    width: 300px;
}

.video-health {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: var(--padding);

    p {
        border-radius: 20px;
        padding: 2px 8px;
        background-color: green;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.remote-video-tile {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    --padding: 10px;

    h3 {
        border-right: 1px solid white;
        padding: var(--padding);
    }

    video {
        padding: var(--padding);
        display: block;
        border-radius: 15px;
        overflow: hidden;
    }

    &__info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        border-bottom: 1px solid white;
        justify-content: space-between;
    }
}

.local-video-tile {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    --padding: 10px;

    h3 {
        border-bottom: 1px solid white;
        padding: var(--padding);
    }

    video {
        padding: var(--padding);
        display: block;
        border-radius: 15px;
        overflow: hidden;
    }
}

.join-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;

    button {
        font-size: 1rem;
        padding: 5px 10px;
    }
}

.log-peers {
    font-size: 1rem;
    background-color: greenyellow;
    padding: 5px 10px;
}

.multi-call {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.local-user {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    h3 {
        text-align: center;
    }

    button {
        font-size: 1rem;
        padding: 5px 10px;
    }
}

.join-buttons-cntnr {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}